body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #222222;
  color: antiquewhite;
}
div.left {
  position: absolute;
  height: 100%;
  width: 100px;
  background-color: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.left i,
div.right i {
  opacity: 0.2;
}

div.left i.enabled,
div.right i.enabled {
  opacity: 0.6;
}

div.left i.enabled:hover,
div.right i.enabled:hover {
  opacity: 1;
  cursor: pointer;
}

div.right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  background-color: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.viewport {
  position: absolute;
  left: 400px;
  right: 100px;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

div.pane {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  left: 100px;
  width: 350px;
  height: 100%;
  padding: 10px;
  background: darkgray;
  color: #222222;
  z-index: 100;
}

.pane .pane-interior {
  width: 100%;
  height: 100%;
}

.pane .pane-interior svg {
  width: 100%;
  height: 50%;
}

div.pane h1 {
  width: 100%;
  text-align: center;
}

div.viewport svg {
  max-width: 80%;
  height: auto;
}

text {
  background-color: aqua;
}

.annotation-note-label {
  fill: white;
}
.annotation path {
  fill: none;
  stroke: #ff8684;
  stroke-width: 2;
}

.annotation tspan {
}


.annotation-note-bg {
  fill-opacity: 0.8;
  filter: url(#blur-effect);
  border-radius: 5px;
  fill: darkblue;
}

.annotation.annotation-first .annotation-note-bg {
  fill: darkblue;
}

.annotation.annotation-second .annotation-note-bg {
  fill: lightcyan;
}

circle.handle {
  stroke-dasharray: 5;
  stroke: #e91e56;
  fill: rgba(255, 255, 255, 0.5);
  cursor: move;

  stroke-opacity: 0.4;
}

circle.handle.highlight {
  stroke-opacity: 1;
}

.annotation-tip .annotation path {
  stroke: white;
}

.annotation.annotation-first text {
  fill: #f4cf64;
}

.annotation.annotation-second text {
  fill: #be2a3e;
}

.annotation-note-title {
  fill:#f4cf64 ;
  font-weight: bold;
}