body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #222222;
  color: antiquewhite;
}
div.left {
  position: absolute;
  height: 100%;
  width: 100px;
  background-color: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.left i,
div.right i {
  opacity: 0.2;
}

div.left i.enabled,
div.right i.enabled {
  opacity: 0.6;
}

div.left i.enabled:hover,
div.right i.enabled:hover {
  opacity: 1;
  cursor: pointer;
}

div.right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  background-color: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.viewport {
  position: absolute;
  left: 350px;
  right: 100px;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.pane {
  position: absolute;
  box-sizing: content-box;
  left: 100px;
  width: 250px;
  height: 100%;
  padding: 10px;
  background: darkgray;
  color: #222222;
}

div.pane h1 {
  width: 100%;
  text-align: center;
}

div.viewport svg {
  max-width: 80%;
  height: auto;
}

text {
  background-color: aqua;
}

.annotation-note-label {
  fill: 'white';
}
